.contentWrapper {
  padding: 0.5rem;
  padding-bottom: 0px;
  max-height: 70vh;
  overflow: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contentWrapper::-webkit-scrollbar {
  width: var(--scrollbar-size-mid);
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.fieldLabel {
  font-size: 0.875rem;
  color: var(--color-text-title);
  text-wrap: nowrap;
}

.textInput,
.numberInput {
  width: 12rem;
  background-color: #374151;
  color: white;
  font-size: 0.875rem;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #4b5563;
  outline: none;
}

.textInput:focus,
.numberInput:focus {
  border-color: #3b82f6;
}

.numberInput {
  width: 6rem;
}

.textInput:disabled,
.numberInput:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
