.apexcharts-xaxistooltip-bottom {
  background-color: var(--surface) !important;
  color: var(--text-charts) !important;
  border: 1px solid var(--border-muted) !important;
  box-shadow: var(--shadow) !important;
  border-radius: 6px !important;
  padding: 6px 12px !important;
  font-size: 12px !important;
  width: fit-content !important;
  text-wrap: nowrap;
}

/* arrow  */
.apexcharts-xaxistooltip-bottom :after,
.apexcharts-xaxistooltip-bottom :before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: 100%;
  border-width: 8px;
  transform: translateX(-50%);
  left: 50%;
  background: transparent;
  border-style: solid;
  border-color: transparent transparent var(--surface) transparent !important;
}
/* arrow border */
.apexcharts-xaxistooltip-bottom :after {
  z-index: 1;
  bottom: 105%;
  border-bottom-color: var(--border-muted) !important;
}

.apexcharts-radialbar .apexcharts-radialbar-track {
  stroke: var(--hover) !important;
}

[data-chart-type="donut"] .apexcharts-text,
[data-chart-type="radialBar"] .apexcharts-text,
[data-chart-type="radar"] .apexcharts-text,
[data-chart-type="polarArea"] .apexcharts-text {
  fill: var(--text-charts);
}

.apexcharts-gridline {
  stroke: var(--border) !important;
}

/* Custom tooltip */

.apexcharts-tooltip,
.apexcharts-custom-tooltip {
  background-color: var(--surface) !important;
  color: var(--text-charts) !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: var(--shadow) !important;
}

.apexcharts-tooltip-title {
  text-align: center;
  color: var(--text);
  background-color: var(--surface);
  border: none !important;
  font-weight: bold !important;
}

.apexcharts-tooltip-title,
.apexcharts-custom-tooltip .tooltip-title {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: var(--text);
  padding: 6px;
  background-color: var(--surface-light);
}

.apexcharts-custom-tooltip .tooltip-content-row {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 2px 10px;
}

.apexcharts-custom-tooltip .tooltip-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.apexcharts-toolbar {
  height: 0 !important;
}

.apexcharts-menu-icon {
  display: none !important;
  height: 0 !important;
}

.apexcharts-menu,
.apexcharts-menu-open {
  height: fit-content !important;
  background-color: var(--surface) !important;
  border: 1px solid var(--border) !important;
  text-align: center !important;
}

.apexcharts-menu-open .apexcharts-menu-item:hover {
  background-color: var(--hover) !important;
}

.apexcharts-selection-rect {
  fill: var(--info-soft) !important;
  fill-opacity: 1 !important;
  stroke: var(--info) !important;
  stroke-width: 1px !important;
}

/* custom toolbar */
.apexcharts-custom-toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.125rem;
  background-color: inherit;
  z-index: 1;
  flex-wrap: wrap;
}

.apexcharts-custom-toolbar svg {
  width: clamp(0.75rem, 1.2vw, 1.25rem);
  height: clamp(0.75rem, 1.2vw, 1.25rem);
}

.apexcharts-custom-toolbar .icon-button {
  padding: 0.45rem;
  border-radius: 0;
}

.apexcharts-custom-select {
  position: absolute;
  border: 1px dashed var(--info);
  background-color: var(--info-soft);
  pointer-events: none;
}

.apexcharts-legend-series {
  display: flex !important;
  align-items: center !important;
  gap: 0.25rem;
}

.apexcharts-legend-series .apexcharts-legend-marker {
  border-radius: 50%;
  background-color: var(--surface-muted);
}

.apexcharts-legend-series svg {
  border-radius: 50%;
  background-color: var(--surface-muted);
  padding: 6.5px 2px;
  width: 25px !important;
  height: 25px !important;
  border: none;
}

.apexcharts-legend-text {
  color: var(--text) !important;
  font-size: 0.93rem !important;
}
