@import "tailwindcss" important;

@custom-variant dark (&:where(.dark, .dark-theme *));

@import "./utilities.css";
@import "./variables/_colors.css";
@import "./variables/_layout.css";
@import "./variables/_shadows.css";
@import "./variables/_scrollbar.css";
@import "./variables/_theme.css";
@import "./variables/_apexcharts.css";

:root {
  background-color: #fff;
  font-family: "Trebuchet MS";
}

:root img {
  width: 30px;
  height: 30px;
}

.dark-theme {
  background-color: #12181e;
}

/* .sidebar-open {
  font-size: 15px;
} */
