.neutral {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.dark-theme .neutral {
  color: rgb(255, 255, 255);
}

.dark-theme .red,
.red {
  font-weight: bold;
  color: #fe5a5a;
}

.dark-theme .green,
.green {
  font-weight: bold;
  color: #05ab72;
}

.invert-on-theme {
  color: #000;
  fill: #000;
}

.dark-theme .invert-on-theme {
  color: #ffffff;
  fill: #ffffff;
}

.divider {
  border-top: 1px solid #e1e1e1;
  margin: 15px 0px;
}

.dark-theme .divider {
  border-top: 1px solid #3b4556;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}
