.neutral {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.dark-theme .neutral {
  color: rgb(255, 255, 255);
}

.dark-theme .red,
.red {
  font-weight: bold;
  color: #fe5a5a;
}

.dark-theme .green,
.green {
  font-weight: bold;
  color: #05ab72;
}

.flex {
  display: flex !important;
}
.wrap {
  flex-wrap: wrap !important;
}
.center {
  align-items: center !important;
}
.justify {
  justify-content: space-between !important;
}

.j-flex-end {
  justify-content: flex-end !important;
}

.a-flex-end {
  align-items: flex-end !important;
}

.gap10 {
  gap: 10px;
}

.gap20 {
  gap: 20px;
}

.baseline {
  align-items: baseline !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
.fs13 {
  font-size: 13px;
}
.fs10 {
  font-size: 10px;
}
.fs15 {
  font-size: 15px;
}
.fs20 {
  font-size: 20px;
}

.column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}

.radius-top-0 {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.divider {
  border-top: 1px solid #e1e1e1;
  margin: 15px 0px;
}

.dark-theme .divider {
  border-top: 1px solid #3b4556;
}
