/* Page Container */
.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS";
  width: var(--page-width);
  /* margin-left: var(--page-margin-left); */
  height: 100%;
  box-sizing: border-box;
  transition: width 0.2s ease;
}

.mainContent {
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 20px;
  background-color: var(--color-bg-main);
  width: 100%;
  height: 100%;
  max-width: 1350px;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: thin;
}

/* Container */
.container {
  min-width: 360px;
  border: 1px solid var(--color-border-container);
  display: flex;
  border-radius: 7px;
  height: fit-content;
  padding: 20px;
  box-sizing: border-box;
  color: var(--color-text-heading);
  background-color: var(--color-bg-container);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.childrenWrapper,
.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  flex: 1;
}
.innerContainer {
  gap: 0.65rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0px;
  margin-bottom: 5px;
}

.section {
  border-radius: 5px;
  padding: 0.75rem;
  border: 1px solid var(--color-bg-hover);
}

.sectionTitle {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-text-heading);
  margin-bottom: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/* Label */
.label {
  color: rgb(63, 63, 63);
  margin: 10px 0px;
}

:global(.dark-theme) .label {
  color: rgb(255, 255, 255);
}

.label.large {
  font-size: large;
}
.label.medium {
  font-size: medium;
}

.label.small {
  font-size: small;
}

/* Legend */
.legendWrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.93rem;
  color: var(--color-text-charts);
}

.legendIndicator {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.legendIndicatorLabelWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.legendIndicatorLabelWrapper:hover {
  opacity: 0.4;
  cursor: pointer;
}

/* Percentage Bar */
.barContainer {
  width: 100%;
  min-width: 180px;
  box-sizing: border-box;
}

.barLabelsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  color: var(--color-text-charts);
}

.bar {
  flex: 1;
  height: 14px;
  background-color: var(--color-bg-bar-track);
  overflow: hidden;
  position: relative;
  border-radius: 6px;
}

.barFill {
  height: 100%;
}

/* badge color */
.badge {
  border-radius: 50px;
  padding: 3px 6px;
}

.badgeGreen {
  background: var(--color-bg-green-transparent);
  color: var(--color-green);
  border: 1px solid var(--color-green);
}

.badgeRed {
  background: var(--color-bg-red-transparent);
  color: var(--color-red);
  border: 1px solid var(--color-red);
}

.badgeYellow {
  background: #fcff411e;
  color: var(--color-yellow-200);
  border: 1px solid var(--color-yellow-200);
}

.popupContainer {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup {
  background-color: var(--color-bg-container);
  border-radius: 0.5rem;
  max-width: 29rem;
  width: 100%;
  box-sizing: border-box;
  margin: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  height: 80vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-text-charts);
}

.popupLarge {
  max-width: 29rem;
}

.popup header,
.popup footer {
  background-color: var(--color-bg-chart-popup-header);
  padding: 15px;
  box-sizing: border-box;
  color: var(--color-text-charts);
  border-bottom: 1px solid var(--color-border-container);
  z-index: 2;
}

.popup main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  overflow-y: auto;
  width: 100%;
}

.popup main::-webkit-scrollbar {
  width: var(--scrollbar-size-mid);
  height: var(--scrollbar-size-mid);
}

.popupCloseIcon {
  padding: 7px;
}

.popupCloseIcon:hover svg {
  color: rgb(234, 69, 69);
}

.popupLarge main {
  grid-template-columns: 1fr 1fr;
}

.popup footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  border-top: 1px solid var(--color-border-container);
}

.chartPopup {
  left: 0;
  position: absolute;
  background-color: var(--apexcharts-tooltip-background);
  border: 1px solid var(--color-border-container);
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  min-width: 210px;
  max-height: 400px;
  border-radius: 4px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.192);
  z-index: 100;
}

.chartPopup header,
.chartPopup footer {
  padding: 10px;
  box-sizing: border-box;
  border-top: 1px solid var(--color-bg-hover);
}

.chartPopup header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-bg-hover);
}

.chartPopup header button {
  padding: 0.2rem;
}

.chartPopup header button:hover {
  color: var(--color-red);
  background-color: var(--color-bg-hover);
  border-radius: 5px;
}

.chartPopup main {
  display: flex;
  flex-direction: column;
  font-size: 0.78rem;
  padding: 10px 4px;
  max-height: 200px;
  max-width: 350px;
  overflow-y: auto;
}

.chartPopup main::-webkit-scrollbar,
.chartPopupSelect::-webkit-scrollbar {
  width: var(--scrollbar-size-mid);
}

.chartPopupButton {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  padding: 0.25rem 0px 0.25rem 1rem;
}

.chartPopupButton:hover {
  background-color: var(--color-bg-hover);
}
