.chartContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;
  user-select: none;
  padding: 15px;
}

.chartInnerContainer {
  gap: 0.25rem;
  height: 100%;
  min-width: 0;
}

.chartDragIcon {
  visibility: hidden;
  position: absolute;
  cursor: move;
  background-color: inherit;
  color: var(--text);
  padding: 0.25rem;
  font-size: 0.75rem;
  top: 0;
  left: 50%;
  rotate: 90deg;
  box-sizing: border-box;
}

.chartContainer:hover .chartDragIcon {
  visibility: visible;
}

.chartTitleWrapper {
  display: flex;
  align-items: center;
  height: fit-content;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
}

.legendWrapper {
  display: flex;
  position: relative;
  gap: 0.25rem;
  flex-wrap: wrap;
  width: 100%;
}

.legendChartWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.legendChartWrapper.bottom {
  flex-direction: column-reverse;
}

.legendWrapper.left {
  justify-content: start;
}

.legendWrapper.right {
  justify-content: end;
}

.legendWrapper.center {
  justify-content: center;
}

.chartZoomWrapper {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.chartZoomWrapper::-webkit-scrollbar {
  height: var(--scrollbar-size-mid) !important;
}

.chartWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

.chartWrapper > :first-child {
  flex: 1;
  min-width: 0;
}
