.filterContainer {
  right: 0;
  position: absolute;
  background-color: var(--apexcharts-tooltip-background);
  border: 1px solid var(--color-border-container);
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  min-width: 210px;
  max-height: 400px;
  border-radius: 4px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.192);
}

.filterContainer header,
.filterContainer footer {
  padding: 10px;
  box-sizing: border-box;
  border-top: 1px solid var(--color-bg-hover);
}

.filterContainer header {
  padding-bottom: 0px;
}
.filterContainer main {
  margin: 10px 4px;
}

.chartFilterSelect::-webkit-scrollbar {
  width: var(--scrollbar-size-mid);
}

.filterButton {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  padding: 0.25rem 0px 0.25rem 1rem;
}

.filterButton:hover {
  background-color: var(--color-bg-hover);
}

.chartFilterInput,
.chartFilterSelect {
  width: 200px;
  background-color: var(--apexcharts-tooltip-background) !important;
  border: 1px solid var(--apexcharts-xaxistooltip-border) !important;
  padding: 0.5rem;
  border-radius: 4px;
  outline: none;
}

.chartFilterInput:focus,
.chartFilterSelect:focus {
  border: 1px solid var(--color-text-heading) !important;
}
