.filterPopupContent {
  gap: 0.5rem;
}

.filterButton {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}

.filterButton:hover {
  background-color: var(--color-bg-hover);
}

.chartFilterInput,
.chartFilterSelect {
  width: 200px;
  background-color: var(--apexcharts-tooltip-background) !important;
  border: 1px solid var(--apexcharts-xaxistooltip-border) !important;
  padding: 0.5rem;
  border-radius: 4px;
  outline: none;
}

.chartFilterInput:focus,
.chartFilterSelect:focus {
  border: 1px solid var(--color-text-heading) !important;
}
