:root {
  /* main-tooltip */
  --apexcharts-tooltip-background: #ffffff;
  --apexcharts-tooltip-title-background: #ecf0f4;
  --apexcharts-tooltip-title-color: #34495e;

  /* x-axis-toolip */
  --apexcharts-xaxistooltip-background: #ffffff;
  --apexcharts-xaxistooltip-color: #000;
  --apexcharts-xaxistooltip-border: #e2e2e2;
  --apexcharts-xaxistooltip-shadow: 0px 0px 30px hsla(0, 0%, 0%, 0.073);

  /* grid-line */
  --apexcharts-grid-lines-color: #e0e0e0;

  /* axis-labels-colors */
  --apexcharts-axis-labels-color: #919eab;
}

.dark-theme {
  /* main-tooltip */
  --apexcharts-tooltip-background: #141a21;
  --apexcharts-tooltip-title-background: #28323d;
  --apexcharts-tooltip-title-color: #919eab;

  /* x-axis-toolip */
  --apexcharts-xaxistooltip-background: #141a21;
  --apexcharts-xaxistooltip-color: #fff;
  --apexcharts-xaxistooltip-border: #26282f;
  --apexcharts-xaxistooltip-shadow: none;

  /* grid-lines */
  --apexcharts-grid-lines-color: #333e47;

  /* axis-labels-colors */
  --apexcharts-axis-labels-color: #637381;
}

.apexcharts-xaxistooltip-bottom {
  background-color: var(--apexcharts-xaxistooltip-background) !important;
  color: var(--apexcharts-xaxistooltip-color) !important;
  border: 1px solid var(--apexcharts-xaxistooltip-border) !important;
  box-shadow: var(--apexcharts-xaxistooltip-shadow) !important;
  border-radius: 12px !important;
  padding: 10px 12px !important;
  font-size: 12px !important;
}

.apexcharts-xaxistooltip-bottom :after,
.apexcharts-xaxistooltip-bottom :before {
  content: "";
  position: absolute;
  z-index: 3;
  top: -15px;
  border-width: 8px;
  transform: translateX(-50%);
  left: 50%;
  background: transparent;
  border-style: solid;
  border-color: transparent transparent transparent transparent;
  border-bottom-color: var(--apexcharts-xaxistooltip-background) !important;
}

.apexcharts-xaxistooltip-bottom :after {
  z-index: 2;
  top: -16px;
  border-bottom-color: var(--apexcharts-xaxistooltip-border) !important;
}

.apexcharts-tooltip {
  background-color: var(--apexcharts-tooltip-background) !important;
  color: var(--color-text-charts) !important;
  border: none !important;
  box-shadow: 0px 0px 43px rgba(0, 0, 0, 0.2) !important;
}

.apexcharts-tooltip-title {
  text-align: center;
  color: var(--apexcharts-tooltip-title-color);
  background-color: var(--apexcharts-tooltip-title-background);
  border: none !important;
  font-weight: bold !important;
}

.apexcharts-radialbar .apexcharts-radialbar-track {
  stroke: var(--color-bg-bar-track) !important;
}

.apexcharts-pie .apexcharts-text,
.apexcharts-radialbar .apexcharts-text {
  fill: var(--color-text-charts);
}

.apexcharts-gridline {
  stroke: var(--apexcharts-grid-lines-color) !important;
}

.apexcharts-gridline {
  stroke: var(--apexcharts-grid-lines-color) !important;
}

.apexcharts-menu-icon,
.apexcharts-selection-icon {
  z-index: 0 !important;
  display: none !important;
  pointer-events: none !important;
}

.apexcharts-toolbar .apexcharts-menu-open {
  margin-top: 9px;
  margin-right: 10px;
}

.apexcharts-selection-rect {
  fill: rgba(0, 149, 208, 0.74) !important;
  stroke: #e0e0e0;
}

#apexcharts-custom-wrapper ::-webkit-scrollbar {
  height: var(--scrollbar-size-mid) !important;
}

/* .apexcharts-canvas {
  pointer-events: unset !important;
} */

.apexcharts-menu.apexcharts-menu-open {
  background-color: var(--apexcharts-tooltip-background) !important;
  border: 1px solid var(--color-border-container);
  padding: 3px !important;
  text-align: center;
}

.apexcharts-menu.apexcharts-menu-open .apexcharts-menu-item:hover {
  background-color: var(--color-bg-hover) !important;
}

/* Custom tooltip for grouped bar chart */
.custom-grouped-bar-chart-tooltip .tooltip-title {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: var(--apexcharts-tooltip-title-color);
  padding: 6px;
  background-color: var(--apexcharts-tooltip-title-background);
}

.custom-grouped-bar-chart-tooltip .tooltip-content-row {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 2px 10px;
}

.custom-grouped-bar-chart-tooltip .tooltip-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.apexcharts-toolbar {
  display: none !important;
}

.apexcharts-custom-toolbar {
  position: relative;
  display: flex;
  gap: 0.125rem;
  background-color: inherit;
  margin-right: 0.5rem;
  z-index: 100;
  flex-wrap: wrap;
}

.apexcharts-custom-toolbar svg {
  width: var(--icon-dimension);
  height: var(--icon-dimension);
}

.apexcharts-custom-toolbar .icon-button {
  padding: 0.45rem;
  border-radius: 0;
}
.react-resizable-handle {
  margin-top: -10px;
  background-color: var(--color-text-heading) !important;
}

.apexcharts-custom-select {
  position: absolute;
  background-color: #00a2ff15;
  border: 1px dashed var(--color-text-heading);
}
