:root {
  /* Light theme colors */

  --color-green: hsl(159, 94%, 35%);
  --color-red: hsl(0, 99%, 67%);
  --color-yellow: hsl(41, 92%, 67%);
  --color-default: hsl(215, 100%, 55%);
  --color-cyan: hsl(180, 100%, 34%);

  /* background-colors */
  --color-bg-main: hsl(0, 0%, 100%);
  --color-bg-container: hsl(0, 0%, 100%);
  --color-bg-editor: hsla(0, 0%, 100%, 0.2);
  --color-bg-sidebar: hwb(225 98% 0%);
  --color-bg-disabled: hsl(0, 0%, 96%);
  --color-bg-green-transparent: hsl(141, 52%, 94%);
  --color-bg-red-transparent: hsl(0, 83%, 95%);
  --color-bg-chart-popup: hsl(0, 0%, 100%);
  --color-bg-chart-popup-header: hsl(0, 0%, 100%);
  --color-bg-chart-toolbar: hsl(216, 20%, 95%);
  --color-bg-tooltip: hsla(0, 0%, 0%, 0.902);

  --color-bg-hover: hsla(211, 43%, 87%, 0.325);
  --color-bg-bar-track: hsla(211, 43%, 87%, 0.325);
  --color-bg-toggle: hsl(0, 0%, 82%);

  /* border-colors */
  --color-border-container: hsl(210, 38%, 94%);
  --color-border-sidebar-button: hsl(0, 0%, 100%);
  --color-border-default: hsl(0, 0%, 87%);

  /* text-colors */
  --color-text-heading: hsl(210, 10%, 23%);
  --color-text-label: hsl(216, 15%, 34%);
  --color-text-charts: hsl(210, 29%, 29%);
  --color-text-disabled: hsl(0, 0%, 70%);
  font-size: 17px;
}

.dark-theme {
  /* Dark theme colors */

  /* background-colors */
  --color-bg-main: hsl(210, 25%, 9%);
  --color-bg-container: hsl(210, 24%, 15%);
  --color-bg-editor: hsla(210, 24%, 15%, 0.643);
  --color-bg-sidebar: hsl(210, 24%, 15%);
  --color-bg-disabled: hsla(210, 29%, 24%, 0.467);
  --color-bg-green-transparent: hsla(141, 100%, 50%, 0.063);
  --color-bg-red-transparent: hsla(0, 100%, 50%, 0.063);
  --color-bg-chart-popup: hsl(215, 28%, 17%);
  --color-bg-chart-popup-header: hsl(219, 23%, 12%);
  --color-bg-chart-toolbar: hwb(219 10% 84%);

  /* hover */
  --color-bg-hover: hsla(210, 29%, 23%, 0.467);
  --color-bg-bar-track: hsla(210, 29%, 23%, 0.467);
  --color-bg-toggle: hsl(210, 27%, 26%);

  /* border-colors */
  --color-border-container: hsl(210, 24%, 15%);
  --color-border-sidebar-button: hsl(210, 25%, 9%);
  --color-border-default: hsl(210, 22%, 25%);

  /* text-colors */
  --color-text-heading: hsl(0, 0%, 100%);
  --color-text-label: hsl(180, 4%, 80%);
  --color-text-charts: hsl(0, 0%, 100%);
  --color-text-disabled: hsl(225, 21%, 39%);
}
