:root {
  /* Light theme colors */

  --color-green: #05ab72;
  --color-red: #fe5a5a;
  --color-yellow: #f8c75f;
  --color-default: #1979ff;
  --color-cyan: #00aeae;

  /* background-colors */
  --color-bg-body: #ffffff;
  --color-bg-main: #ffffff;
  --color-bg-container: #ffffff;
  --color-bg-editor: rgba(255, 255, 255, 0.2);
  --color-bg-sidebar: #ffff;
  --color-bg-disabled: #f5f5f5;
  --color-bg-green-transparent: #e6f7ec;
  --color-bg-red-transparent: #fdeaea;
  --color-bg-chart-popup: white;
  --color-bg-chart-popup-header: white;
  --color-bg-chart-toolbar: #f0f2f4;

  --color-bg-hover: #cfddec53;
  --color-bg-bar-track: #cfddec53;
  --color-bg-toggle: #d0d0d0;

  /* border-colors */
  --color-border-container: #e9eff5;
  --color-border-sidebar-button: #ffffff;

  /* text-colors */
  --color-text-heading: #343a40;
  --color-text-card-title: #6c757d;
  --color-text-charts: #34495e;
  --color-text-disabled: #b3b3b3;
  font-size: 17px;
}

.dark-theme {
  /* Dark theme colors */

  /* background-colors */
  --color-bg-body: #12181e;
  --color-bg-main: #12181e;
  --color-bg-container: #1c252e;
  --color-bg-editor: #1c252ea4;
  --color-bg-sidebar: #12181e;
  --color-bg-disabled: #2c3e5077;
  --color-bg-green-transparent: #00ff5910;
  --color-bg-red-transparent: #ff000010;
  --color-bg-chart-popup: #1f2937;
  --color-bg-chart-popup-header: #171c25;
  --color-bg-chart-toolbar: #191f2a;

  /* hover */
  --color-bg-hover: #293a4b77;
  --color-bg-bar-track: #293a4b77;
  --color-bg-toggle: #314355;

  /* border-colors */
  --color-border-container: #1c252e;
  --color-border-sidebar-button: #12181e;

  /* text-colors */
  --color-text-heading: #fff;
  --color-text-card-title: #fff;
  --color-text-charts: #fff;
  --color-text-disabled: #4f5a7a;
}
