:root {
  /* variable for sidebar */
  --sidebar-width: 230px;
  --page-width: 100%;
  --page-margin-left: 0;
  --sidebar-left: -300px;
}

.sidebar-open {
  --page-width: calc(100% - var(--sidebar-width));
  --page-margin-left: var(--sidebar-width);
  --sidebar-left: 0;
}
