:root {
  --scrollbar-size-min: 0.3vw;
  --scrollbar-size-mid: 4px;
  --scrollbar-size-max: 0.4vw;

  --scrollbar-track: #f5f7f8;
  --scrollbar-thumb: #aaaeaf;
  --scrollbar-thumb-hover: #878b8b;
}

.dark-theme {
  --scrollbar-track: #1c2334;
  --scrollbar-thumb: #77797b;
  --scrollbar-thumb-hover: #bcbaba;
}

html::-webkit-scrollbar {
  width: var(--scrollbar-size-max);
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}
