:root {
  /* box-shadows */
  --shadow-primary: 0 2px 22px rgba(0, 0, 0, 0.1);
  --shadow-primary-hover: 0 6px 12px rgba(0, 0, 0, 0.2);
  --shadow-editor: 0px 2px 8px rgba(133, 133, 133, 0.1);
}

.dark-theme {
  /* box-shadows */
  --shadow-primary: none;
  --shadow-primary-hover: 0 6px 12px rgb(45, 58, 71);
  --shadow-editor: 0px 2px 8px rgba(45, 59, 68, 0.116);
}
