/* tokens.css */
:root {
  /* semantic colors */
  --surface: hsl(0 0% 100%);
  --surface-light: hsl(210, 27%, 94%);
  --surface-muted: hsl(0, 0%, 100%);
  --surface-muted-soft: hsla(0, 0%, 99%, 0.543);
  --surface-disabled: hsl(0, 0%, 96%);

  --border: hsl(0, 0%, 87%);
  --border-muted: hsl(210, 38%, 94%);
  --border-raised: hsl(0, 0%, 100%);

  --text: hsl(210 10% 23%);
  --text-muted: hsl(216, 15%, 63%);
  --text-charts: hsl(210, 29%, 29%);
  --text-charts-muted: hsl(210, 13%, 62%);
  --text-disabled: hsl(0 0% 70%);

  /* status colors */
  --success: hsl(159 94% 35%);
  --success-soft: hsl(159 94% 35% / 0.12);

  --error: hsl(0 99% 67%);
  --error-soft: hsl(0 99% 67% / 0.12);

  --warning: hsl(41 92% 67%);
  --warning-soft: rgba(255, 202, 88, 0.55);

  --info: hsl(215 100% 55%);
  --info-soft: hsla(215, 100%, 42%, 0.08);

  --cyan: hsl(180 100% 34%);
  --cyan-soft: hsla(180, 100%, 34%, 0.212);

  /* special surfaces */
  --hover: hsla(211 43% 87% / 0.35);
  --hover-muted: hsl(0, 0%, 82%);

  /* shadow */
  --shadow: 0 2px 22px hsla(0, 0%, 0%, 0.1);
  --shadow-hover: 0 6px 12px hsla(0, 0%, 0%, 0.2);

  --font-family-base: "Trebuchet MS", system-ui, sans-serif;

  font-size: 17px;
}

.dark-theme {
  --surface: hsl(210 25% 9%);
  --surface-muted: hsl(210 24% 15%);

  /* --surface: hsl(0 0% 5%);
  --surface-muted: hsl(0 0% 8%); */

  --surface-light: hsl(211 21% 20%);
  /* --surface-muted: hsl(210 24% 15%); */
  --surface-muted-soft: hsla(210, 24%, 15%, 0.643);
  --surface-disabled: hsl(212, 22%, 15%);

  --border: hsl(210, 22%, 25%);
  --border-muted: hsl(210, 24%, 15%);
  --border-raised: hsl(210, 25%, 9%);
  --text: hsl(0 0% 100%);
  --text-muted: hsl(180 4% 80%);
  --text-charts: hsl(0, 0%, 100%);
  --text-charts-muted: hsl(208, 13%, 45%);
  --text-disabled: hsl(225 21% 39%);

  --hover: hsla(210 29% 23% / 0.47);
  --hover-muted: hsl(210, 27%, 26%);

  --shadow: none;
  --shadow-hover: 0 6px 12px hsl(210, 22%, 23%);
}
