.editor {
  display: flex;
  box-sizing: border-box;
  padding: 15px;
  backdrop-filter: blur(6px);
  background: var(--color-bg-editor);
  box-shadow: var(--shadow-editor);
  color: var(--color-text-heading);
  top: 0;
  position: sticky;
  justify-content: space-between;
  z-index: 1000;
  height: min(15vh, 60px);
  width: 100%;
  min-height: 40px;
  font-size: 1rem;
  gap: 10rem;
  text-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

.editor::-webkit-scrollbar {
  height: var(--scrollbar-size-min);
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid var(--color-border-default);
}

.searchBar input {
  outline: none;
}

.searchBar svg {
  outline: none;
  stroke: gray;
  width: 20px;
  height: 20px;
}

.sunIcon {
  box-shadow: 0px 0px 16px rgb(255, 246, 115);
  background-color: rgba(255, 246, 115, 0.365);
  border-radius: 50px;
  color: orange;
  fill: orange;
  transition: all ease 0.8s;
}

.moonIcon {
  box-shadow: 0px 0px 20px rgb(11, 21, 39);
  background-color: rgba(13, 23, 40, 0.3);
  border-radius: 50px;
  fill: #667da0;
  color: #667da0;
}
