.button {
  --_padding: var(--padding, 4px 10px);
  --_font-size: var(--font-size, 0.85rem);
  --_bg-color: var(--bg-color, #007bff);

  padding: var(--_padding);
  font-size: var(--_font-size);
  border: none;
  margin: 0px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--_bg-color);
  color: white;
}

.button.large {
  --padding: 5px 12px;
  --font-size: 1rem;
}

.button.medium {
  --padding: 4px 10px;
  --font-size: 0.85rem;
}

.button.small {
  --padding: 3px 8px;
  --font-size: 0.75rem;
}

.button.disabled {
  --bg-color: var(--color-bg-disabled) !important;
  color: var(--color-text-disabled) !important;
  pointer-events: none;
}

.button:active {
  filter: brightness(0.8) contrast(1.2) saturate(1.2);
}

.toggleBtnContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.toggleBtnLabel {
  font-size: 0.875rem;
  color: #4b5563;
}

:global(.dark-theme) .toggleBtnLabel {
  color: #ffffff;
}

.toggleBtnTrack {
  cursor: pointer;
  width: 33px;
  min-width: 33px;
  background-color: #d0d0d0;
  height: 13px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: background-color ease 0.2s;
}

:global(.dark-theme) .toggleBtnTrack {
  background-color: #314355;
}

.toggleBtnCircle {
  width: 17px;
  height: 17px;
  background-color: #ffffff;
  border: 1px solid #007bff;
  border-radius: 50%;
  transform: translateX(0%);
  transition: transform ease 0.2s, border ease 0.2s;
}

.toggleBtnEnable {
  transform: translateX(100%);
}

.iconBtn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: fit-content;
  width: fit-content;
  padding: max(1vw, 2px);
  border-radius: 10px;
  transition: background-color 0.2s;
}

.iconBtn img {
  width: min(10vw, 20px);
  height: min(10vh, 20px);
}

:global(.dark-theme) .iconBtn img {
  filter: invert(1);
}

.iconBtn:hover {
  background-color: var(--color-bg-hover);
}
